table{
	background: red;
	border: solid;
	border-color: black;
	border-width: 1px;
	margin: 10px;
}
td{
	padding: 2px;
	border: dotted;
	border-color: green;
	border-width: thin;
}
html{
	margin: 0px;
	padding: 0px;
	background: green;
	border: solid;
	border-color: black;
	border-width: 0px;
}
body{
	margin: 0px;
	padding: 0px;
	background: red;
	border: solid;
	border-color: khaki;
	border-width: 0px;
}
div{
	margin: 4px;
	padding: 2px;
	background: brown;
	border: solid;
	border-color: black;
	border-width: 1px;
}